<div class="container" data-ng-controller="HeaderController">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" data-ng-click="back()" ng-hide="isHome()" style="color: #fff;">
        <md-icon class="material-icons">&#xE5C4;</md-icon>
      </md-button>
      <h2>
        <span>爆款众筹<small style="font-size:13px;margin-left:4px;">4月8日-4月18日</small></span>
      </h2>
      <md-button class="md-icon-button" aria-label="More" ng-href="/items/register/result" style="position: absolute;right: 16px;top: 8px;color:#fff;">
        <md-icon class="material-icons">&#xE8CC;</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</div>
