<section data-ng-controller="ArticlesController" data-ng-init="find()" layout="row">
  <md-list flex>
    <md-subheader class="md-no-sticky">Articles</md-subheader>
    <md-list-item class="md-3-line" data-ng-repeat="article in articles" ng-href="/articles/{{article._id}}">
      <md-icon class="material-icon">account_circle</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3 data-ng-bind="article.title"></h3>
        <h4 data-ng-bind="article.user.displayName"></h4>
        <p data-ng-bind="article.content"></p>
      </div>
    </md-list-item>
  </md-list>
</section>
