<div>
  <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.initialized">
    <md-progress-circular class="md-accent md-hue-3" md-mode="indeterminate" md-diameter="70" ng-hide="vm.initialized"></md-progress-circular>
  </div>
  <md-card ng-cloak ng-repeat="item in vm.items">
    <img ng-src="{{item.img}}" class="md-card-image" alt="{{item.name}}" imageonload="vm.imageLoaded()">
    <md-content>
      <div class="sales-progress">
        <ul class="price-info">
          <li ng-repeat="price in item.prices" layout="column" layout-align="start start" style="{{price.position}}">
            <div style="white-space: nowrap;">￥{{price.amount}}</div>
            <div class="material-icons">&#xE313;</div>
          </li>
        </ul>
        <div class="sales-progressbar">
          <!-- <div class="sales-info">参与人数：{{item.sales}}</div> -->
          <div class="sales-progressbar-indicator" style="width:{{item.progress}}"></div>
        </div>
      </div>
      <div class="countdown" ng-show="vm.end" style="text-align:center;margin:12px;">
        <span class="tiem">活动结束</span>
      </div>
      <div class="countdown" ng-hide="vm.end">
        <md-icon class="material-icons">&#xE8B5;</md-icon><span>剩余时间</span>
        <span class="time">{{vm.timeLeft}}</span>
      </div>
    </md-content>
    <md-card-actions layout="row" layout-align="end center" ng-hide="vm.end">
      <md-button class="md-primary" ng-href="/items/{{item._id}}/register">
        <md-icon class="material-icons" style="font-size:16px;position:relative;top:3px;">&#xE854;</md-icon>我要参与
      </md-button>
    </md-card-actions>
  </md-card>
</div>
